.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #ddd;
  background-color: bisque;
}

.Sidebar {
  width: 300px;
  padding: 5px;
  position: sticky;
  top: 90px;
  align-self: flex-start;
  align-items: start;
}

.Sidebar .nav-item {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Sidebar .nav-link {
  padding: 5px;
}

.Sidebar a {
  color: #444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color: #444;
}

.Sidebar .nav-item .active {
  background-color: rgb(253, 230, 204);
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Body {
  margin-top: 10px;
}